.pokecard {
  width: 100%;
  max-width: 350px;
  border-radius: 0.7em;
  border: 0.7em solid #ccc;
  cursor: pointer;
  transition: transform 200ms ease;
}
.pokecard:hover {
  transform: scale(1.03);
}
.pokecard__header {
  background-color: #999;
  aspect-ratio: 2;
  position: relative;
}
.pokecard__image {
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5em;
}
.pokecard__body {
  padding: 3.5em 1em 2em;
}
.pokecard__name {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.pokecard__types {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1em;
}
.pokecard__typename {
  text-transform: capitalize;
}
.pokecard__typename:nth-child(2)::before {
  content: "/";
  padding-right: 0.5em;
}
.pokecard__hr {
  margin-bottom: 1em;
  border: 1px solid #ccc4;
}
.pokecard__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1.5em 0.2em;
}
.pokecard__stat {
  display: grid;
  gap: 0.5em;
  justify-items: center;
}
.pokecard__stat__name {
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.pokecard__stat__value {
  font-weight: 600;
  font-size: 1em;
}
/* CARD COLORS */
.fire-gradient {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}
.grass-gradient {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}
.water-gradient {
  background: linear-gradient(
    179.57deg,
    #45ebe2 -70.14%,
    #42c0f1 56.16%,
    #56e4e4 214.85%
  );
}
.bug-gradient {
  background: linear-gradient(
    177.55deg,
    #62db60 -58.93%,
    #20991e 16.57%,
    #aaffa8 209.53%
  );
}
.normal-gradient {
  background: linear-gradient(
    177.56deg,
    #a76209 -58.92%,
    #d1a617 16.57%,
    #aaffa8 209.53%
  );
}
.poison-gradient {
  background: linear-gradient(
    179.57deg,
    #700b5f -70.14%,
    #fb14ae 56.16%,
    #82b2f1 214.85%
  );
}
.electric-gradient {
  background: linear-gradient(
    179.55deg,
    #eedd47 -70.17%,
    #eefa46 56.12%,
    #82b2f1 214.84%
  );
}
.ground-gradient {
  background: linear-gradient(
    179.55deg,
    #8a8989 -70.17%,
    #616161 56.12%,
    #82b2f1 214.84%
  );
}
.fairy-gradient {
  background: linear-gradient(
    179.55deg,
    #fd8bea -70.17%,
    #b62fd1 56.12%,
    #c74fbd 214.84%
  );
}
.fighting-gradient {
  background: linear-gradient(
    179.55deg,
    #213ec2 -70.17%,
    #2149ce 56.12%,
    #0e076b 214.84%
  );
}
.rock-gradient {
  background: linear-gradient(
    179.55deg,
    #6f7075 -70.17%,
    #7d8292 56.12%,
    #464549 214.84%
  );
}
.ghost-gradient {
  background: linear-gradient(
    179.55deg,
    #c5c7ce -70.17%,
    #babbc0 56.12%,
    #6e6d72 214.84%
  );
}
.psychic-gradient {
  background: linear-gradient(
    179.55deg,
    #ce5a0d -70.17%,
    #ac330e 56.12%,
    #923a08 214.84%
  );
}
.dark-gradient {
  background: linear-gradient(
    179.55deg,
    #131110 -70.17%,
    #181615 56.12%,
    #923a08 214.84%
  );
}
.ice-gradient {
  background: linear-gradient(
    179.55deg,
    #3decb2 -70.17%,
    #0eaaaf 56.12%,
    #0d9275 214.84%
  );
}
.dragon-gradient {
  background: linear-gradient(
    179.55deg,
    #6dce64 -70.17%,
    #22c222 56.12%,
    #107a30 214.84%
  );
}
/* BORDER COLORS */
.fire-border {
  border-color: #f35e27;
}
.grass-border {
  border-color: #81c2a6;
}
.water-border {
  border-color: #45ebe2;
}
.bug-border {
  border-color: #36c234;
}
.normal-border {
  border-color: #d89c4e;
}
.poison-border {
  border-color: #a01188;
}
.electric-border {
  border-color: #eedd47;
}
.ground-border {
  border-color: #8a8989;
}
.fairy-border {
  border-color: #ffaaf6;
}
.fighting-border {
  border-color: #2f3d69;
}
.rock-border {
  border-color: #7d8292;
}
.ghost-border {
  border-color: #babbc0;
}
.psychic-border {
  border-color: #d85229;
}
.dark-border {
  border-color: #181615;
}
.ice-border {
  border-color: #0eaaaf;
}
.dragon-border {
  border-color: #22c222 ;
}
/* VALUE COLORS */
.fire-color {
  color: #f35e27;
}
.grass-color {
  color: #81c2a6;
}
.water-color {
  color: #42c0f1;
}
.bug-color {
  color: #36c234;
}
.normal-color {
  color: #d89c4e;
}
.poison-color {
  color: #fb14ae;
}
.electric-color {
  color: #ccbd33;
}
.ground-color {
  color: #8a8989;
}
.fairy-color {
  color: #c083bb;
}
.fighting-color {
  color: #2f3d69;
}
.rock-color {
  color: #7d8292;
}
.ghost-color {
  color: #babbc0;
}
.psychic-color {
  color: #d85229;
}
.dark-color {
  color: #181615;
}
.ice-color {
  color: #0eaaaf;
}
.dragon-color {
  color: #22c222 ;
}
